{% extends "base.html" %}
{% block title %}welcom to our company{% endblock %}
{% block nav %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#news">New</a></li>
        <li><a href="#school">Find your dream school</a></li>
        <li><a href="#specialty">Find your specialty</a></li>
        <li><a href="#others">Others</a></li>
        <li><a href="#" data-toggle="modal" data-target="#about-modal">About us</a></li>
    </ul>
</div>
{% endblock %}    

{% block content %}
    !-- news -->
<div class="jumbotron" id="news">
    <div class="media">
    <a class="pull-left" >
        <p>News</p>
    </a>
        <div class="media-body">
            <h2 class="media-heading">USA education is free for everyone<br>
                <small>more detail
                </small></h2>
        </div>
    </div>
</div>

<div class="jumbotron" id="school">
<ul>
    <li ><a href="{% url 'school' 'europe' %}">Europore</a></li>
    <li><a href="{% url 'school' 'american' %}">USA</a></li>
    <li><a href="{% url 'school' 'australia' %}">Australist</a></li>
    <li><a href="{% url 'school' 'asia' %}">Asia</a></li>
</ul>
</div>
<div class="jumbotron" id="specialty">
<ul>
    <li ><a href="{% url 'specialty' 'EN' %}">工科</a></li>
    <li><a href="{% url 'specialty' 'SC' %}">理科</a></li>
    <li><a href="{% url 'specialty' 'BU' %}">商科</a></li>
    <li><a href="{% url 'specialty' 'AR' %}">艺术</a></li>
</ul>
</div>

<!-- other -->
<div class="jumbotron" id="others">
    <div class="media">
    <a class="pull-left" >
        <p>Others</p>
    </a>
        <div class="media-body">
            <h2 class="media-heading"> learn to live and study in the Foreign country <br>
                <small>more detail
                </small></h2>
        </div>
    </div>
</div>

<!-- About -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">About us</h4>
            </div>
            <div class="modal-body">
                <p>Help you to go to your dream school to study</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(function () {
        $('#menu-nav .navbar-collapse a').click(function (e) {
            var href = $(this).attr('href');
            var tabId = $(this).attr('data-tab');
            e.preventDefault();
            $(document).scrollTop($(href).offset().top - 70);
            if (tabId) {
                $('#feature-tab a[href=#' + tabId + ']').tab('show');
            }
        });
    });
</script>
{% endblock %}