{% extends "base.html" %}
{% block title %}welcom to our company{% endblock %}
{% block nav %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#news">New</a></li>
        <li><a href="#school">Find your dream school</a></li>
        <li><a href="#specialty">Find your specialty</a></li>
        <li><a href="#others">Others</a></li>
        <li><a href="#" data-toggle="modal" data-target="#about-modal">About us</a></li>
    </ul>
</div>
{% endblock %}    

{% block content %}
    !-- news -->
<div class="jumbotron" id="news">
    <div class="media">
    <a class="pull-left" >
        <p>News</p>
    </a>
        <div class="media-body">
            <h2 class="media-heading">USA education is free for everyone<br>
                <small>more detail
                </small></h2>
        </div>
    </div>
</div>

<div class="jumbotron" id="school">

 <div class="row">
  
  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>Europore</h3>
        <p>小语种，性价比高</p>
        <p><a href="{% url 'school' 'europe' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>USA</h3>
        <p>世界名学汇聚</p>
        <p><a href="{% url 'school' 'american' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>Australist</h3>
        <p>优美环境，移民大国</p>
        <p><a href="{% url 'school' 'australia' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>Asia</h3>
        <p>充满活力和机遇</p>
        <p><a href="{% url 'school' 'asia' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>
 </div>
</div>
<div class="jumbotron" id="specialty">
 <div class="row">
  
  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>工科</h3>
        <p>工程师，程序员</p>
        <p><a href="{% url 'specialty' 'EN' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>理科</h3>
        <p>数学家，生物学家</p>
        <p><a href="{% url 'specialty' 'SC' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>商科</h3>
        <p>企业家，高官，金融大亨</p>
        <p><a href="{% url 'specialty' 'BU' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3" id="item">
    <div class="thumbnail">
      <div class="caption">
        <h3>艺术</h3>
        <p>琴棋书画</p>
        <p><a href="{% url 'specialty' 'AR' %} " class="btn btn-primary">了解更多..</a></p>
      </div>
    </div>
  </div>

 </div>
</div>

<!-- other -->
<div class="jumbotron" id="others">
    <div class="media">
    <a class="pull-left" >
        <p>Others</p>
    </a>
        <div class="media-body">
            <h2 class="media-heading"> learn to live and study in the Foreign country <br>
                <small>more detail
                </small></h2>
        </div>
    </div>
</div>

<!-- About -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">About us</h4>
            </div>
            <div class="modal-body">
                <p>Help you to go to your dream school to study</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(function () {
        $('#menu-nav .navbar-collapse a').click(function (e) {
            var href = $(this).attr('href');
            var tabId = $(this).attr('data-tab');
            e.preventDefault();
            $(document).scrollTop($(href).offset().top - 70);
            if (tabId) {
                $('#feature-tab a[href=#' + tabId + ']').tab('show');
            }
        });
    });
</script>
{% endblock %}