{% extends "base.html" %}
{% block title %}Find your school and your friends{% endblock %}
{% block nav %}
<ul class="nav navbar-nav">
<li><a href="#">find your school</a></li>
</ul>
{% endblock %}
{% block content %}
<!-- school -->
<hr class="feature-divider">
    <ul class="nav nav-tabs" role="tablist" id="feature-tab">
        <li ><a href="{% url 'school' 'europe' %}" >Europe</a></li>
        <li><a href="{% url 'school' 'american' %}" >USA</a></li>
        <li><a href="{% url 'school' 'australia' %}" >australia</a></li>
        <li><a href="{% url 'school' 'asia' %}" >Asia</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-edu">
			<div class="well">
	        	<div class="panel panel-info">
	        	{% for country in countrys %}
		        	<div class="panel-heading">
					    <h3 class="panel-title">{{ country.1 }}</h3>
					</div>
					{% if schools|get_item:country.0 %}
					<div class="panel-body">
					  	<ul class="list-group">
		        	    {% for school in schools|get_item:country.0 %} 
					  	<li class="list-group-item"> {{school.name_cn}} | {{ school.name_local }} | <a href="{{ school.site}}">学校网站</a> | <a href="{% url 'school_detail' school.id %}">详细...</a></li>
					  	 {% endfor %}
					  	</ul>  
					  </div>
					 {% endif %}
				{% endfor %}
				</div>
			</div>
        </div>
    </div>
{% endblock %}